.board {
  display: grid;
  grid-template-rows: repeat(var(--i-nr-of-rows), 1fr);
  grid-template-columns: repeat(var(--i-nr-of-columns), 1fr);
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
}

.cell {
  width: 30px;
  height: 30px;
  margin: 2px;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  grid-row: calc(var(--i-row-idx) + 1);
  grid-column: calc(var(--i-column-idx) + 1);
  background-color: light-dark(#ffffff, #242424);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cell._ {
  pointer-events: none;
}

.cell:not(._) {
  border-radius: 50%;
}

.cell.R {
  background-image: url('/R.png');
  background-color: #e1af87;
}

.cell.B {
  background-image: url('/B.png');
  background-color: #a0d4e1;
}

.cell.G {
  background-image: url('/G.png');
  background-color: #8ac5ab;
}

.cell.Y {
  background-image: url('/Y.png');
  background-color: #f2d57a;
}

.cell.W {
  background-image: url('/W.png');
  background-color: #dbd8ce;
}

.cell:hover {
  border: 1px solid light-dark(red, blue)
}