@use '../../scss/cellEffects';
@use '../../scss/creatureBackgrounds';

$border-width: 1px;
$double-border-width: $border-width * 2;
$gap: 0.25rem;
$padding: 0.25rem;
$double-padding: $padding * 2;

.board-container {
  container-type: size;
}

.board {
  display: grid;

  --cell-w-by-width: calc(
    (100cqw - #{$double-border-width} - #{$double-padding}) /
      var(--i-nr-of-columns, 10)
  );
  --cell-w-by-height: calc(
    (100cqh - #{$double-border-width} - #{$double-padding}) /
      var(--i-nr-of-rows, 10)
  );
  --cell-size: min(var(--cell-w-by-width), var(--cell-w-by-height));

  /* Compute cell size considering gap */
  gap: #{$gap};
  padding: #{$padding};

  --total-cell-width: calc(var(--cell-size) * var(--i-nr-of-columns, 10));
  --total-cell-height: calc(var(--cell-size) * var(--i-nr-of-rows, 10));
  --total-gap-width: calc(#{$gap} * (var(--i-nr-of-columns, 10) - 1));
  --cell-size-with-gap: calc(
    (var(--total-cell-width) - var(--total-gap-width)) /
      var(--i-nr-of-columns, 10)
  );

  /* Use the computed cell size for columns and rows so each track is square. */
  grid-template-columns: repeat(
    var(--i-nr-of-columns, 10),
    var(--cell-size-with-gap)
  );
  grid-auto-rows: var(--cell-size-with-gap);

  /* Board dimensions derived from cell size */
  width: calc(
    var(--total-cell-width) + #{$double-border-width} + #{$double-padding}
  );
  height: calc(
    var(--total-cell-height) + #{$double-border-width} + #{$double-padding}
  );
  box-sizing: border-box;
  border: #{$border-width} solid var(--i-foreground-color);

  /* keep a subtle rounded shape that scales with columns/rows */
  border-radius: calc(50% / var(--i-nr-of-columns)) /
    calc(50% / var(--i-nr-of-rows));
  margin-inline: auto;
}

.cell {
  box-sizing: border-box;
  padding: 0;

  /* Place cell in the grid explicitly */
  width: var(--cell-size-with-gap);
  height: var(--cell-size-with-gap);
  grid-row: calc(var(--i-row-idx) + 1);
  grid-column: calc(var(--i-column-idx) + 1);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;

  &.empty {
    pointer-events: none;
  }

  &:not(.empty):hover {
    border: 1px solid light-dark(red, blue);
  }

  &.r {
    background-color: var(--i-color-r);
  }

  &.b {
    background-color: var(--i-color-b);
  }

  &.g {
    background-color: var(--i-color-g);
  }

  &.y {
    background-color: var(--i-color-y);
  }

  &.p {
    background-color: var(--i-color-p);
  }

  &.w {
    background-color: var(--i-color-w);
  }

  &.with-creature {
    @include creatureBackgrounds.addLeveledBackgrounds;
  }

  @include cellEffects.state-effects;
}

.game-over-dialog {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 75%);
  color: white;
  z-index: 500;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
