@use '../../scss/cellEffects';
@use '../../scss/creatureBackgrounds';

.board {
  display: grid;
  grid-template-rows: repeat(var(--i-nr-of-rows), 1fr);
  grid-template-columns: repeat(var(--i-nr-of-columns), 1fr);
  width: 100%;
  max-width: calc(100vh - 150px);
  border: 1px solid var(--i-foreground-color);
  border-radius: calc(50% / var(--i-nr-of-columns));
  box-sizing: border-box;
  gap: 0.25em;
  padding: 0.25em;
}

.cell {
  padding: 0;
  aspect-ratio: 1 / 1;
  grid-row: calc(var(--i-row-idx) + 1);
  grid-column: calc(var(--i-column-idx) + 1);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;

  &.empty {
    pointer-events: none;
  }

  &:not(.empty):hover {
    border: 1px solid light-dark(red, blue);
  }

  &.r {
    background-color: var(--i-color-r);
  }

  &.b {
    background-color: var(--i-color-b);
  }

  &.g {
    background-color: var(--i-color-g);
  }

  &.y {
    background-color: var(--i-color-y);
  }

  &.p {
    background-color: var(--i-color-p);
  }

  &.w {
    background-color: var(--i-color-w);
  }

  &.with-creature {
    @include creatureBackgrounds.addLeveledBackgrounds;
  }

  @include cellEffects.stateEffects;
}

.game-over-dialog {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  background-color: rgb(0 0 0 / 75%);
  color: white;
  border-radius: calc(50% / var(--i-nr-of-columns));
  z-index: 500;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
