@use '../../scss/creatureBackgrounds';

.effectsOverlay {
  --i-band-height: 10vh;
  --i-band-border-width: 3px;
  --i-image-size: 17.5vh;
  --i-start-animation-duration: 250ms;
  --i-switch-animation-duration: 500ms;
  --i-img-border-filter: drop-shadow(0 0 2px black);

  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 45%);

  .effectBand {
    position: absolute;
    top: calc(50% - var(--i-band-height) / 2 - var(--i-band-border-width));
    left: -100vw;
    width: 100vw;
    height: var(--i-band-height);
    box-sizing: content-box;
    border-block: var(--i-band-border-width) solid silver;

    &.r {
      background-color: var(--i-color-r);

      --i-stripes-color-1: var(--i-color-r-accent-1);
      --i-stripes-color-2: var(--i-color-r-accent-2);
    }

    &.b {
      background-color: var(--i-color-b);

      --i-stripes-color-1: var(--i-color-b-accent-1);
      --i-stripes-color-2: var(--i-color-b-accent-2);
    }

    &.g {
      background-color: var(--i-color-g);

      --i-stripes-color-1: var(--i-color-g-accent);
      --i-stripes-color-2: var(--i-color-g-accent);
    }

    &.y {
      background-color: var(--i-color-y);

      --i-stripes-color-1: var(--i-color-y-accent);
      --i-stripes-color-2: var(--i-color-y-accent);
    }

    &.p {
      background-color: var(--i-color-p);

      --i-stripes-color-1: var(--i-color-p-accent);
      --i-stripes-color-2: var(--i-color-p-accent);
    }

    &.w {
      background-color: var(--i-color-w);

      --i-stripes-color-1: var(--i-color-w-accent-1);
      --i-stripes-color-2: var(--i-color-w-accent-2);
    }
  }

  .effectImg {
    position: absolute;
    top: calc(50% - calc(var(--i-image-size) / 2));
    background-size: var(--i-image-size) var(--i-image-size);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 100vw;
    width: 100vw;
    height: var(--i-image-size);
    filter: var(--i-img-border-filter);
    z-index: 100;

    @include creatureBackgrounds.addLeveledBackgrounds;

    .effect-2,
    .effect-3 {
      left: 0;
    }
  }

  .effectText {
    width: 100vw;
    height: fit-content;
    font-size: 2em;
    text-align: center;
    color: black;
    -webkit-text-stroke: 0.3em white;
    paint-order: stroke fill;
    position: absolute;
    top: calc(50% + calc(var(--i-image-size) / 2) + 10px);
    left: 100vw;
  }

  &:not(.effectCount-2, .effectCount-3) {
    .effect-1 {
      &.effectBand {
        animation:
          slidelefttocenter var(--i-start-animation-duration) ease-out 0s
            forwards,
          slidecentertoright var(--i-switch-animation-duration) ease-out
            var(--i-effect-duration) forwards;
      }

      &.effectImg {
        animation:
          slidecentertoright var(--i-start-animation-duration) ease-out 0s
            reverse forwards,
          slidelefttocenter var(--i-switch-animation-duration) ease-out
            calc(var(--i-effect-duration) - var(--i-start-animation-duration))
            reverse forwards;
      }

      &.effectText {
        animation:
          slidecentertoright var(--i-start-animation-duration) ease-out 0s
            reverse forwards,
          slidelefttocenter var(--i-switch-animation-duration) ease-out
            calc(var(--i-effect-duration) - var(--i-start-animation-duration))
            reverse forwards;
      }
    }
  }

  /* Two effects: Metronome + one more OR Transform + one more */
  &.effectCount-2 {
    .effect-1 {
      &.w {
        &.effectBand {
          animation:
            slidelefttocenter var(--i-start-animation-duration) ease-out 0s
              forwards,
            slidecentertoright var(--i-switch-animation-duration) ease-out
              var(--i-metronome-effect-duration) forwards;
        }

        &.effectImg {
          animation:
            slidecentertoright var(--i-start-animation-duration) ease-out 0s
              reverse forwards,
            slidelefttocenter var(--i-switch-animation-duration) ease-out
              calc(
                var(--i-metronome-effect-duration) +
                  var(--i-effect-duration) - var(--i-start-animation-duration)
              )
              reverse forwards;
        }

        &.effectText {
          animation:
            slidecentertoright var(--i-start-animation-duration) ease-out 0s
              reverse forwards,
            slidelefttocenter var(--i-switch-animation-duration) ease-out
              calc(
                var(--i-metronome-effect-duration) - var(
                    --i-start-animation-duration
                  )
              )
              reverse forwards;
        }

        ~ .effect-2 {
          &.effectBand {
            animation:
              slidelefttocenter var(--i-start-animation-duration) ease-out
                var(--i-metronome-effect-duration) forwards,
              slidecentertoright var(--i-switch-animation-duration) ease-out
                calc(
                  var(--i-metronome-effect-duration) + var(--i-effect-duration)
                )
                forwards;
          }

          &.effectText {
            animation:
              slidecentertoright var(--i-start-animation-duration) ease-out
                var(--i-metronome-effect-duration) reverse forwards,
              slidelefttocenter var(--i-switch-animation-duration) ease-out
                calc(
                  var(--i-metronome-effect-duration) +
                    var(--i-effect-duration) - var(--i-start-animation-duration)
                )
                reverse forwards;
          }
        }
      }

      &.p {
        &.effectBand {
          animation:
            slidelefttocenter var(--i-start-animation-duration) ease-out 0s
              forwards,
            slidecentertoright var(--i-switch-animation-duration) ease-out
              var(--i-transform-effect-duration) forwards;
        }

        &.effectImg {
          animation:
            slidecentertoright var(--i-start-animation-duration) ease-out 0s
              reverse forwards,
            smalltobig var(--i-switch-animation-duration) ease-out
              calc(
                var(--i-transform-effect-duration) - var(
                    --i-start-animation-duration
                  )
              )
              reverse forwards;
        }

        &.effectText {
          animation:
            slidecentertoright var(--i-start-animation-duration) ease-out 0s
              reverse forwards,
            slidelefttocenter var(--i-switch-animation-duration) ease-out
              calc(
                var(--i-transform-effect-duration) +
                  var(--i-effect-duration) - var(--i-start-animation-duration)
              )
              reverse forwards;
        }

        ~ .effect-2 {
          &.effectBand {
            animation:
              slidelefttocenter var(--i-start-animation-duration) ease-out
                var(--i-transform-effect-duration) forwards,
              slidecentertoright var(--i-switch-animation-duration) ease-out
                calc(
                  var(--i-transform-effect-duration) + var(--i-effect-duration)
                )
                forwards;
          }

          &.effectImg {
            left: 0;
            transform: scale(0);
            filter: var(--i-img-border-filter) brightness(0);
            animation:
              smalltobig var(--i-switch-animation-duration) ease-out
                var(--i-transform-effect-duration) forwards,
              slidelefttocenter var(--i-switch-animation-duration) ease-out
                calc(
                  var(--i-transform-effect-duration) +
                    var(--i-effect-duration) - var(--i-start-animation-duration)
                )
                reverse forwards;
          }
        }
      }
    }
  }

  /* Three effects: Metronome + transform + one more */
  &.effectCount-3 {
    .effect-1 {
      &.effectBand {
        animation:
          slidelefttocenter var(--i-start-animation-duration) ease-out 0s
            forwards,
          slidecentertoright var(--i-switch-animation-duration) ease-out
            var(--i-metronome-effect-duration) forwards;
      }

      &.effectImg {
        animation:
          slidecentertoright var(--i-start-animation-duration) ease-out 0s
            reverse forwards,
          smalltobig var(--i-switch-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) +
                var(--i-transform-effect-duration) - var(
                  --i-start-animation-duration
                )
            )
            reverse forwards;
      }

      &.effectText {
        animation:
          slidecentertoright var(--i-start-animation-duration) ease-out 0s
            reverse forwards,
          slidelefttocenter var(--i-switch-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) - var(
                  --i-start-animation-duration
                )
            )
            reverse forwards;
      }
    }

    .effect-2 {
      &.effectBand {
        animation:
          slidelefttocenter var(--i-start-animation-duration) ease-out
            var(--i-metronome-effect-duration) forwards,
          slidecentertoright var(--i-switch-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) +
                var(--i-transform-effect-duration)
            )
            forwards;
      }

      &.effectText {
        animation:
          slidecentertoright var(--i-start-animation-duration) ease-out
            var(--i-metronome-effect-duration) reverse forwards,
          slidelefttocenter var(--i-switch-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) +
                var(--i-transform-effect-duration) +
                var(--i-effect-duration) - var(--i-start-animation-duration)
            )
            reverse forwards;
      }
    }

    .effect-3 {
      &.effectBand {
        animation:
          slidelefttocenter var(--i-start-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) +
                var(--i-transform-effect-duration)
            )
            forwards,
          slidecentertoright var(--i-switch-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) +
                var(--i-transform-effect-duration) + var(--i-effect-duration)
            )
            forwards;
      }

      &.effectImg {
        left: 0;
        transform: scale(0);
        filter: var(--i-img-border-filter) brightness(0);
        animation:
          smalltobig var(--i-switch-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) +
                var(--i-transform-effect-duration)
            )
            forwards,
          slidelefttocenter var(--i-switch-animation-duration) ease-out
            calc(
              var(--i-metronome-effect-duration) +
                var(--i-transform-effect-duration) +
                var(--i-effect-duration) - var(--i-start-animation-duration)
            )
            reverse forwards;
      }
    }
  }
}

@keyframes slidelefttocenter {
  from {
    left: -100vw;
    opacity: 1;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slidecentertoright {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: 100vw;
    opacity: 1;
  }
}

@keyframes smalltobig {
  0% {
    transform: scale(0) skew(-15deg, -15deg);
    filter: var(--i-img-border-filter) brightness(0);
  }

  25% {
    transform: scale(0.25) skew(15deg, 15deg);
  }

  50% {
    transform: scale(0.5) skew(-15deg, -15deg);
    filter: var(--i-img-border-filter) brightness(0);
  }

  100% {
    transform: scale(1);
    filter: var(--i-img-border-filter) brightness(1);
  }
}

/* TODO: could be different per type */
@property --i-stripe-effect-key {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

.stripes {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(90deg, transparent, var(--i-stripes-color-1, white))
      calc(var(--i-stripe-effect-key) + 0px) 0.67vh repeat-x,
    linear-gradient(90deg, transparent, var(--i-stripes-color-2, white))
      calc(var(--i-stripe-effect-key) + 15px) 2vh repeat-x,
    linear-gradient(90deg, transparent, var(--i-stripes-color-1, white))
      calc(var(--i-stripe-effect-key) + 30px) 3.33vh repeat-x,
    linear-gradient(90deg, transparent, var(--i-stripes-color-2, white))
      calc(var(--i-stripe-effect-key) + 15px) 4.67vh repeat-x,
    linear-gradient(90deg, transparent, var(--i-stripes-color-1, white))
      calc(var(--i-stripe-effect-key) + 0px) 6vh repeat-x,
    linear-gradient(90deg, transparent, var(--i-stripes-color-2, white))
      calc(var(--i-stripe-effect-key) - 15px) 7.33vh repeat-x,
    linear-gradient(90deg, transparent, var(--i-stripes-color-1, white))
      calc(var(--i-stripe-effect-key) - 30px) 8.67vh repeat-x;
  background-size: 100px 6px;
  animation: stripes 1s linear infinite;
}

@keyframes stripes {
  from {
    --i-stripe-effect-key: 0px;
  }

  to {
    --i-stripe-effect-key: 100vw;
  }
}
