.score-board {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
  margin: 0.75em 0;
  padding: 0.75em;
  border: 1px solid var(--i-foreground-color);
  background-color: light-dark(#f0f0f0, #1e1e1e);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.score-board-data {
  text-align: start;
  grid-column: 1;
}

.score-board-data.score {
  grid-column: 1 / 2;
}

.score-board-data.moves {
  grid-column: 1 / 3;
}

.score-board-info {
  font-size: 0.65em;
  display: flex;
  flex-direction: column;
  align-items: end;
  grid-column: -2;
  grid-row: 2;
}

.score-board-info-item {
  display: inline-flex;
  align-items: start;
  gap: 0.5em;
}

.score-board-hof-button {
  padding: 0.25em;
  font-size: 0.6em;
  border-radius: 0;
  grid-column: 2;
  grid-row: 1;
}

.score-board-hof-button .full {
  display: none;
}

@media screen and (width >= 480px) {
  .score-board {
    grid-template-columns: max-content 1fr min-content;
    grid-auto-flow: column;
    justify-items: center;
  }

  .score-board-data,
  .score-board-info {
    grid-row: 1;
  }

  .score-board-data.score,
  .score-board-data.moves {
    grid-column: 2;
  }

  .score-board-hof-button {
    padding: 0.25em 0.5em;
    font-size: 0.8em;
    grid-column: 2;
    grid-row: 2;
  }

  .score-board-hof-button .short {
    display: none;
  }

  .score-board-hof-button .full {
    display: inline;
  }
}

.app-version {
  font-size: 0.8em;
  opacity: 0.6;
  position: absolute;
  top: -1lh;
  right: 0;
}

@media screen and (width >= 768px) {
  .app-version {
    position: fixed;
    inset: auto 8px 8px auto;
  }
}
