.game-root {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.github-link {
  display: flex;
  align-items: start;
  gap: 0.25em;
}

.github-logo {
  height: 1.2em;
}
