.appRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.githubLink {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  display: flex;
  align-items: start;
  gap: 0.25em;
}

.githubLogo {
  height: 1.2em;
}