:root {
  font-family: 'Pokemon GB', monospace;
  line-height: 1.5;
  font-weight: normal;
  font-size: 0.8rem;
  color-scheme: light dark;

  --i-background-color: light-dark(#fff, #242424);
  --i-foreground-color: light-dark(#213547, rgb(255 255 255 / 87%));
  --i-img-r: url('/R.png');
  --i-img-b: url('/B.png');
  --i-img-g: url('/G.png');
  --i-img-y: url('/Y.png');
  --i-img-p: url('/P.png');
  --i-img-w: url('/W.png');

  --i-color-r: #e1af87;
  --i-color-r-accent-1: #e46c43;
  --i-color-r-accent-2: #fcda6c;
  --i-color-b: #a0d4e1;
  --i-color-b-accent-1: #e7d8b9;
  --i-color-b-accent-2: #3797ae;
  --i-color-g: #8ac5ab;
  --i-color-g-accent: #44785a;
  --i-color-y: #f2d57a;
  --i-color-y-accent: #7b5a35;
  --i-color-p: #cdb8d8;
  --i-color-p-accent: #9682a5;
  --i-color-w: #dbd8ce;
  --i-color-w-accent-1: #ba563e;
  --i-color-w-accent-2: #4ca3c3;

  background-color: var(--i-background-color);
  color: var(--i-foreground-color);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
}

a {
  font-weight: 500;
  color: light-dark(#007aff, #65afff);
  text-decoration: inherit;
}

a:hover {
  color: light-dark(#65afff, #007aff);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: light-dark(#f9f9f9, #1a1a1a);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: light-dark(#65afff, #007aff);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (width >= 480px) {
  :root {
    font-size: 1rem;
  }
}

#root {
  width: 768px;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  text-align: center;
}
