@mixin state-effects() {
  position: relative;

  &.burning,
  &.flooded,
  &.cutting,
  &.shocked {
    &::after {
      position: absolute;
      content: ' ';
      width: 100%;
      height: 100%;
      inset: 0;
    }
  }

  &.burning::after {
    background: linear-gradient(
        180deg,
        var(--i-color-r-accent-2),
        var(--i-color-r-accent-1) 100%
      )
      bottom no-repeat;
    background-size: 100% 0;
    border-radius: 10% 10% 50% 50%;
    animation: anim-burning 2s ease-in forwards;
  }

  &.flooded::after {
    background: linear-gradient(180deg, white, var(--i-color-b-accent-2)) top
      no-repeat;
    border-radius: 50% 50% 0 0;
    animation: anim-flooded 2s ease-in forwards;
  }

  &.cutting::after {
    background: linear-gradient(90deg, var(--i-background-color) 0 0) right 50%
      no-repeat border-box;
    background-size: 100% 0;
    border-radius: 50%;
    animation: anim-cutting 2s ease-in-out forwards;
  }

  &.shocked::after {
    background:
      linear-gradient(90deg, white, white) calc(40% + 3px) 70% no-repeat,
      linear-gradient(90deg, white, white) 40% top no-repeat;
    background-size: 3px 55%;
    border-radius: 50%;
    animation: anim-shocked 2s ease-in-out forwards;
  }

  &.transforming {
    animation: anim-transforming 1s ease-in forwards;
  }
}

@keyframes anim-burning {
  from {
    background-size: 100% 0;
  }

  to {
    background-size: 100% 100%;
  }
}

@keyframes anim-flooded {
  0% {
    background-size: 100% 0;
  }

  80% {
    background-size: 100% 100%;
  }

  100% {
    border-radius: 50% 50% 15% 15%;
  }
}

@keyframes anim-cutting {
  0% {
    background-size: 0% 4px;
  }

  5% {
    background-size: 100% 4px;
  }

  15% {
    background-size: 100% 0;
  }

  30% {
    background-size: 100% 0;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes anim-shocked {
  0% {
    opacity: 0;
    background-size: 3px 55%;
  }

  5% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 1;
    background-size: 3px 55%;
  }

  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes anim-transforming {
  0% {
    transform: unset;
  }

  50% {
    transform: skew(-15deg, -15deg);
  }

  100% {
    background-color: black;
    transform: skew(15deg, 15deg);
  }
}
