@mixin addLeveledBackgrounds() {
  &.r {
    background-image: var(--i-img-r, url('/creatures/R-0.png'));

    &.r-1 {
      background-image: var(--i-img-r, url('/creatures/R-1.png'));
    }
    &.r-2 {
      background-image: var(--i-img-r, url('/creatures/R-2.png'));
    }
  }

  &.b {
    background-image: var(--i-img-b, url('/creatures/B-0.png'));

    &.b-1 {
      background-image: var(--i-img-r, url('/creatures/B-1.png'));
    }
    &.b-2 {
      background-image: var(--i-img-r, url('/creatures/B-2.png'));
    }
  }

  &.g {
    background-image: var(--i-img-g, url('/creatures/G-0.png'));

    &.g-1 {
      background-image: var(--i-img-r, url('/creatures/G-1.png'));
    }
    &.g-2 {
      background-image: var(--i-img-r, url('/creatures/G-2.png'));
    }
  }

  &.y {
    background-image: var(--i-img-y, url('/creatures/Y-0.png'));
  }

  &.p {
    background-image: var(--i-img-p, url('/creatures/P-0.png'));
  }

  &.w {
    background-image: var(--i-img-w, url('/creatures/W-0.png'));
  }

  &.m {
    background-image: var(--i-img-m, url('/creatures/M-0.png')) !important;
  }
}
