.options-form-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.options-form-dialog::backdrop {
  background: rgb(0 0 0 / 75%);
  backdrop-filter: blur(2px);
}

.options-form {
  background-color: var(--i-background-color);
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.options-fieldset {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 1fr 120px;
}

.options-fieldset label {
  text-align: end;
}

.options-fieldset input {
  text-align: start;
}

.title-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.title-bar .title + button {
  margin-inline-start: auto;
}

.title-bar button:has(+ .title) {
  margin-inline-end: auto;
}

.title {
  font-size: 1.1rem;
  white-space: nowrap;
}

.options-label {
  display: inline-flex;
  align-items: baseline;
  justify-content: end;
  flex-wrap: wrap;
  gap: 0.5em;
}

.options-label.party {
  align-items: center;
}

.options-arrow {
  opacity: 0;
  width: 1em;
  aspect-ratio: 1 /1;
  flex-shrink: 0;
}

.options-label:has(+ input[type='range']:focus) .options-arrow,
.options-label:has(+ input[type='range']:focus-visible) .options-arrow,
input[type='checkbox']:focus + .options-arrow,
input[type='checkbox']:focus-visible + .options-arrow {
  opacity: 1;
}

.party-members {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.party-member {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.party-image {
  width: 1.5em;
  aspect-ratio: 1 / 1;
}

.party-name {
  margin-block: auto;
  height: 1em;
}

.party-level {
  margin-inline-start: auto;
}

.lvl-input {
  border: none;
  width: 5em;
  font-size: 1em;
  font-family: Pokemon GB;
}

input[type='checkbox'] {
  position: absolute;
  left: -100vw;
}
