.options-form-backdrop {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 75%);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.options-form-backdrop:not(.open) {
  display: none;
}

.options-form {
  background-color: var(--i-background-color);
  max-width: 480px;
  margin: 0px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.options-fieldset {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 1fr 120px;
}

.options-fieldset label {
  text-align: end;
}

.options-fieldset input {
  text-align: start;
}

.options-form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.options-label {
  display: inline-flex;
  align-items: baseline;
  justify-content: end;
  flex-wrap: wrap;
  gap: 0.25em;
}

.options-label .options-arrow {
  opacity: 0;
  width: 1em;
  aspect-ratio: 1 /1;
  flex-shrink: 0;
}

.options-label:has(+ input[type=range]:focus) .options-arrow,
.options-label:has(+ input[type=range]:focus-visible) .options-arrow,
input[type=checkbox]:focus + .options-label .options-arrow,
input[type=checkbox]:focus-visible + .options-label .options-arrow {
  /* TODO: This is anti-aliased, probably because of Image-Layer in svg file */
  /* TODO: Use currentColor */
  opacity: 1;
}

.party-members {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.party-member {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  align-items: baseline;
}

.party-image {
  width: 1em;
  aspect-ratio: 1 / 1;
}

/* input[type=checkbox] {
  width: 0px;
}
input[type=checkbox]:checked + .options-label .party-image {
  filter: grayscale() brightness(0.5);
}
input[type=checkbox]:disabled + .options-label .party-image {
  filter: grayscale() brightness(0.5);
} */

@media (max-width: 480px) {
  .party-name {
    display: none;
  }
}
